streamlit==1.31.0
pandas==2.1.4
numpy==1.26.4
matplotlib==3.8.3
scikit-learn==1.4.0
plotly==5.18.0
seaborn==0.13.1
faiss-cpu==1.7.4
tensorflow==2.15.0
langchain==0.0.346
langchain-community==0.0.20
pymupdf==1.23.21